## Atividade:

A atividade da equipe consiste em construir e validar um modelo(s) preditivo(s) com o intuito de garantir o seu poder de generalização, utilizando a metodologia e técnicas vistas em sala de aula

A base consiste de informações de um molusco chamado Abalone, e o objetivo do classificador é identificar o tipo do exemplar (entre as classes I, II e III) utilizando as informações fornecidas e detalhadas a seguir.

Atributos do dataset:

Sex: M, F e I (infantil)

Length: maior medida em mm da concha
Diameter: diametro em mm perpendicular a medida Length
Height: altura em mm com a carne dentro da concha
Whole weight: peso em gramas de toda a abalone
Shucked weight: peso em gramas da carne
Viscera weight: peso em gramas das víceras após escorrer
Shell weight: peso em gramas para a concha após estar seca
Type: variável de classe (1, 2 ou 3) para o abalone

In [5]:
import pandas as pd

df = pd.read_csv('abalone_dataset.csv')
df.head(15)

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,type
0,M,0.535,0.420,0.150,0.6995,0.2575,0.1530,0.2400,3
1,I,0.510,0.380,0.115,0.5155,0.2150,0.1135,0.1660,1
2,I,0.185,0.130,0.045,0.0290,0.0120,0.0075,0.0095,1
3,M,0.550,0.450,0.170,0.8100,0.3170,0.1570,0.2200,3
4,I,0.535,0.415,0.150,0.5765,0.3595,0.1350,0.2250,1
5,F,0.700,0.575,0.205,1.7730,0.6050,0.4470,0.5380,3
6,M,0.400,0.305,0.085,0.2970,0.1080,0.0705,0.1000,2
7,F,0.620,0.480,0.165,1.0125,0.5325,0.4365,0.3240,2
8,M,0.655,0.515,0.200,1.3730,0.4430,0.3375,0.4900,3
9,F,0.595,0.475,0.165,1.1480,0.4440,0.2140,0.3700,2
10,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,2
11,M,0.400,0.290,0.115,0.2795,0.1115,0.0575,0.0750,2
12,F,0.470,0.375,0.125,0.5615,0.2520,0.1370,0.1800,2
13,M,0.375,0.300,0.100,0.2465,0.1040,0.0475,0.0830,3
14,M,0.645,0.505,0.165,1.3070,0.4335,0.2620,0.5200,2

In [56]:
def sexToInt(x):
    if x == 'M':
        return 1
    elif x == 'F':
        return 2
    
    return 3
    

X = pd.read_csv('abalone_dataset.csv')
y = X.type
X = X.drop(columns=['type'])
X['sex'] = X['sex'].apply(sexToInt)
X.head(
)

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight
0,1,0.535,0.420,0.150,0.6995,0.2575,0.1530,0.2400
1,3,0.510,0.380,0.115,0.5155,0.2150,0.1135,0.1660
2,3,0.185,0.130,0.045,0.0290,0.0120,0.0075,0.0095
3,1,0.550,0.450,0.170,0.8100,0.3170,0.1570,0.2200
4,3,0.535,0.415,0.150,0.5765,0.3595,0.1350,0.2250

In [7]:
import pandas as pd

df = pd.read_csv('abalone_dataset.csv')
df.describe()

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,type
count,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000
mean,0.521392,0.405865,0.138263,0.818738,0.355398,0.178349,0.235616,1.991379
std,0.120756,0.099600,0.039206,0.489560,0.221473,0.109554,0.139215,0.824561
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.345000,0.110000,0.436375,0.181500,0.090875,0.127500,1.000000
50%,0.540000,0.420000,0.140000,0.787000,0.330500,0.168000,0.225000,2.000000
75%,0.610000,0.480000,0.165000,1.141625,0.497500,0.250125,0.323625,3.000000
max,0.815000,0.650000,0.515000,2.825500,1.488000,0.760000,1.005000,3.000000

In [9]:
import pandas as pd

df = pd.read_csv('abalone_app.csv')
df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight
0,M,0.600,0.480,0.175,1.2290,0.4125,0.2735,0.4150
1,F,0.545,0.385,0.150,1.1185,0.5425,0.2445,0.2845
2,F,0.645,0.520,0.180,1.2850,0.5775,0.3520,0.3170
3,M,0.640,0.510,0.170,1.3715,0.5670,0.3070,0.4090
4,F,0.655,0.540,0.215,1.5555,0.6950,0.2960,0.4440

In [8]:
# Limpeza de dados

import pandas as pd

df = pd.read_csv('abalone_dataset.csv')
print(df.isna().sum())
nan_count = df.isna().sum().sum()
null_count = df.isnull().sum().sum()
total_missing = nan_count + null_count
print('Number of missing values:', total_missing)

sex               0
length            0
diameter          0
height            0
whole_weight      0
shucked_weight    0
viscera_weight    0
shell_weight      0
type              0
dtype: int64
Number of missing values: 0

In [17]:
X = pd.read_csv('abalone_dataset.csv')
# X.type
y = X.type
X = X.drop(columns=['type'])

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight
0,M,0.535,0.420,0.150,0.6995,0.2575,0.1530,0.2400
1,I,0.510,0.380,0.115,0.5155,0.2150,0.1135,0.1660
2,I,0.185,0.130,0.045,0.0290,0.0120,0.0075,0.0095
3,M,0.550,0.450,0.170,0.8100,0.3170,0.1570,0.2200
4,I,0.535,0.415,0.150,0.5765,0.3595,0.1350,0.2250

In [ ]:
# Trocando sex para numerico

# Ranking da galera:

Machine Losers	0.6526315789
AiDANO	0.6459330144	
Simple Agent*	0.5080861244
Aimless Agent*	0.3387559809
Trio parada mole	0.3311004785
gerado pelo gpt	0.3215311005

In [60]:
# KNN
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

def sexToInt(x):
    if x == 'M':
        return 1
    elif x == 'F':
        return 2
    
    return 3
    

X = pd.read_csv('abalone_dataset.csv')
y = X.type
X = X.drop(columns=['type'])
X['sex'] = X['sex'].apply(sexToInt)

x_train, x_test, y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=42)

knn = KNeighborsClassifier(n_neighbors =4)
knn.fit(x_train,y_train)
teste = knn.score(x_test,y_test)
print(teste)

0.601063829787234

In [67]:
# Random Forest

from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
# X, y = make_classification(n_samples=1000, n_features=4,n_informative=2, n_redundant=0,random_state=0, shuffle=False)

def sexToInt(x):
    if x == 'M':
        return 1
    elif x == 'F':
        return 2
    
    return 3
    

X = pd.read_csv('abalone_dataset.csv')
y = X.type
X = X.drop(columns=['type'])
X['sex'] = X['sex'].apply(sexToInt)

x_train, x_test, y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=42)
clf = RandomForestClassifier(max_depth=4, random_state=0)
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

acc = accuracy_score(y_test,y_pred)
print(acc)

0.648936170212766

In [ ]:
# SVM

Problema aqui é o multiclass

In [ ]:
# Tem que adicioanr umas formas para evitar o overfitting

# Scaling

#Upsampling (adicionar mais linhas e etc)

In [ ]:
# Multilayer perceptron com multiclass ja que são varias classes usando softmax rsrs